body {
    font-family: "Inter", "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif !important;
    background-color: #202127 !important;
    color: #d2d8e2 !important;
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
    /* deneme işi */
}

h1 {
    color: #74747c;
    text-align: center;
    font-size: 2.5rem; /* Başlık boyutunu koruyoruz */
}

ul#repo-list li {
    background-color: #232324;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    transition: transform 0.2s ease;
}

ul#repo-list li:hover {
    transform: scale(1.02);
}

ul#repo-list a {
    text-decoration: none;
    color: #b5bbc3;
    font-weight: bold;
}

ul#repo-list a:hover {
    text-decoration: underline;
}

ul#repo-list p {
    margin: 5px 0 0;
    color: #555;
}

section {
    padding: 60px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Hafif alt kenarlık */
}
#about{
    height: 65vh;
    padding: 70px 0;
}

.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Iconlar */
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #d2d8e2;
    font-size: 25px;
    margin: 0 5px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f3f6fc;
}

/* Responsive Design */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-100%);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Dil rozetleri */
.language-badge {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
}
/* Kodlama rozetleri */
.language-badge.js { background-color: #f1e05a; }  /* JavaScript */
.language-badge.python { background-color: #3572A5; }  /* Python */
.language-badge.html { background-color: #e34c26; }  /* HTML */
.language-badge.css { background-color: #563d7c; }  /* CSS */
.language-badge.cpp { background-color: #f34b7d; }  /* C++ */
.language-badge.java { background-color: #b07219; }  /* Java */
.language-badge.php { background-color: #4F5D95; }  /* PHP */
.language-badge.ruby { background-color: #701516; }  /* Ruby */
.language-badge.go { background-color: #00ADD8; }  /* Go */
.language-badge.ts { background-color: #2b7489; }  /* TypeScript */
.language-badge.c { background-color: #555555; } /* C */